{% extends "index.html" %}
{% load static %}

{% block content %}
<div class="row d-flex justify-content-around">

    <!-- Character stats container -->
    <div class="col-sm-12 col-lg-3">
        <div class="container mt-5">
            <h2 class="textMain">Character Stats</h2>
            <hr>
            <div class="row">
                <div class="character-section">
                    {% if user_character %}
                    <div class="text-center">
                        <h3 class="text-center mb-4">{{ user_character.character_name }}</h3>
                        <button class="btn loginButton d-lg-none mx-auto my-1" type="button" data-bs-toggle="collapse"
                            data-bs-target="#skillsSection" aria-expanded="true" aria-controls="skillsSection"><i
                                class="fa-regular fa-square-caret-down mx-4"></i></button>
                    </div>
                    <div class="skillsGrid mb-4" id="skillsSection">
                        {% for skill in user_character.skills.all %}
                        <div class="skill">
                            <h6><strong>{{ skill.name }}</strong></h6>
                            <br>
                            <p>Lvl: {{ skill.level }}</p>
                            <br>
                            <p>Exp: {{ skill.experience }}</p>
                        </div>
                        {% endfor %}

                    </div>
                    {% else %}
                    <h3>Add Your Runescape Character</h3>
                    <form method="post" class="myForms">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn loginButton">Save Character</button>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <!-- Current list container -->
    <div class="col-sm-12 col-lg-3">
        <div class="container mt-5">
            <h2 class="textMain">Current Lists</h2>

            <hr>
            <div class="text-center my-3">
                <a href="{% url 'create_list' %}"><button class="btn loginButton mx-2">Create New List</button></a>
            </div>
            <ul class="profileLists">

                {% for task in user_lists %}
                {% if not task.complete %}
                <li class="textMain pb-5">
                    <a href="{% url 'single_list' task.slug %}" class="singleListLink"><strong><i
                                class="fa-solid fa-list mx-2"></i>{{ task.list_title }}</strong></a>
                    <p class="textSecondary mx-4">- Created: {{ task.created_on|date:"M d, Y" }}</p>
                    <a href="{% url 'edit_list' slug=task.slug %}">Edit</a>
                    <a href="" data-bs-toggle="modal" data-bs-target="#deleteModal-{{ task.slug }}">Delete</a>
                </li>

                <!-- Modal for delete list confirmation -->
                <div class="modal fade" id="deleteModal-{{ task.slug }}" tabindex="-1"
                    aria-labelledby="deleteModalLabel-{{ task.slug }}" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content textMain">

                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel" id="deleteModalLabel-{{ task.slug }}">
                                    Confimation...
                                </h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>

                            <div class="modal-body">
                                <p class="textMain text-center">Are you sure you want to delete the list:
                                    "{{ task.list_title }}"?</p>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn loginButton" data-bs-dismiss="modal">Cancel</button>
                                <form method="post" action="{% url 'delete_list' slug=task.slug %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn logoutButton">Delete</button>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
                {% endif %}
                {% empty %}
                <P>You have no to-do lists yet, why not start now?</P>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="col-sm-12 col-lg-3">
        <div class="container mt-5">
            <h2 class="textMain">Completed Lists</h2>
            <hr>

            <ul class="profileLists">
                {% for task in user_lists %}
                {% if task.complete %}
                <li class="textMain pb-5">
                    <a href="{% url 'single_list' task.slug %}" class="singleListLink"><strong><i class="fa-solid fa-check mx-2"></i>{{ task.list_title }}</strong></a>
                    <p class="textSecondary mx-4">- Created: {{ task.created_on|date:"M d, Y" }}</p>
                    <a href="{% url 'edit_list' slug=task.slug %}">Edit</a>
                    <a href="" data-bs-toggle="modal" data-bs-target="#deleteModal-{{ task.slug }}">Delete</a>
                </li>

                <!-- Modal for delete list confirmation -->
                <div class="modal fade" id="deleteModal-{{ task.slug }}" tabindex="-1"
                    aria-labelledby="deleteModalLabel-{{ task.slug }}" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content textMain">

                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel" id="deleteModalLabel-{{ task.slug }}">
                                    Confimation...
                                </h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>

                            <div class="modal-body">
                                <p class="textMain text-center">Are you sure you want to delete the list:
                                    "{{ task.list_title }}"?</p>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn loginButton" data-bs-dismiss="modal">Cancel</button>
                                <form method="post" action="{% url 'delete_list' slug=task.slug %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn logoutButton">Delete</button>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>

                {% endif %}
                {% empty %}
                <p>You have no complete lists. Better get working!</p>
                {% endfor %}

            </ul>


        </div>
    </div>

</div>


{% endblock %}