{% extends "index.html" %}
{% load static %}

{% block content %}
<div class="row d-flex justify-content-around">

    <div class="col-sm-12 col-lg-3">
        <div class="container mt-5">
            <h2 class="textMain">Character Stats</h2>
            <hr>

            <ul class="profileLists">
                <li><img src="{% static 'images/attack.svg' %}" alt="Attack skill icon" class="skillIcon"><span>Attack</span></li>
                <li><span>Strength</span></li>
                <li><span>Defence</span></li>
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
            </ul>

        </div>
    </div>

    <div class="col-sm-12 col-lg-3">
        <div class="container mt-5">
            <h2 class="textMain">Current Lists</h2>
            <hr>
            <a href="{% url 'create_list' %}" class="mb-5">New List</a>
            <ul class="profileLists">

                {% for task in user_lists %}
                {% if not task.complete %}
                <li class="textMain pb-5">
                    <strong><i class="fa-solid fa-list mx-2"></i>{{ task.list_title }}</strong>
                    <p class="textSecondary mx-4">- Created: {{ task.created_on|date:"M d, Y" }}</p>
                    <a href="{% url 'edit_list' slug=task.slug %}">Edit</a>
                    <a href="" data-bs-toggle="modal" data-bs-target="#deleteModal-{{ task.slug }}">Delete</a>
                </li>

                <!-- Modal for delete list confirmation -->
                <div class="modal fade" id="deleteModal-{{ task.slug }}" tabindex="-1"
                    aria-labelledby="deleteModalLabel-{{ task.slug }}" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content textMain">

                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel" id="deleteModalLabel-{{ task.slug }}">
                                    Confimation...
                                </h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>

                            <div class="modal-body">
                                <p class="textMain text-center">Are you sure you want to delete the list:
                                    "{{ task.list_title }}"?</p>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                <form method="post" action="{% url 'delete_list' slug=task.slug %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-warning">Yes!</button>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
                {% endif %}
                {% empty %}
                <P>You have no to-do lists yet, why not start now?</P>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="col-sm-12 col-lg-3">
        <div class="container mt-5">
            <h2 class="textMain">Completed Lists</h2>
            <hr>

            <ul class="profileLists">
                {% for task in user_lists %}
                {% if task.complete %}
                <li class="textMain pb-5">
                    <strong><i class="fa-solid fa-check mx-2"></i>{{ task.list_title }}</strong>
                    <p class="textSecondary mx-4">- Created: {{ task.created_on|date:"M d, Y" }}</p>
                    <a href="{% url 'edit_list' slug=task.slug %}">Edit</a>
                    <a href="" data-bs-toggle="modal" data-bs-target="#deleteModal-{{ task.slug }}">Delete</a>
                </li>

                {% endif %}
                {% endfor %}

            </ul>


        </div>
    </div>

</div>


{% endblock %}