main {
    background-color: #2B2D42;
    height: 85vh;
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
}

.bgColour {
    color: #2B2D42;
}

.primaryAccent {
    color: #8D8741;
}

.secondaryAccent {
    color: #D9BF77;
}

.textMain {
    color: #EAEAEA;
}

.textSecondary {
    color: #FFFFFF;
}

.highlightError {
    color: #FF5E57
}

.hightlightSuccess {
    color: #81B29A;
}

.borderColour {
    color: #404E4D;
}

/* ----------------------------------------------------- NavBar */
.navbar {
    background-color: #8D8741;
}

.navbar-toggler {
    border-color: #EAEAEA;
}


/* ----------------------------------------------------- Footer */
.footerContainer {
    background-color: #8D8741;
}