/* ----------------------------------------------------- General Styles */
main {
    background-color: #2B2D42;
    display: block;
    overflow: auto;
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
}


/* ----------------------------------------------------- Colour Palette */
.bgColour {
    color: #2B2D42;
}

.primaryAccent {
    color: #8D8741;
}

.secondaryAccent {
    color: #D9BF77;
}

.textMain {
    color: #EAEAEA;
}

.textSecondary {
    color: #FFFFFF;
}

.highlightError {
    color: #FF5E57
}

.hightlightSuccess {
    color: #81B29A;
}

.borderColour {
    color: #404E4D;
}


/* ----------------------------------------------------- NavBar */
.navbar {
    background-color: #8D8741;
}

.navbar-toggler {
    border-color: #EAEAEA;
}


/* ----------------------------------------------------- Task List Cards */
.card-body {
    color: #EAEAEA;
    background-color: #404E4D;
}

.cardTextContainer {
    overflow-y: auto;
    height: 300px;
}


/* ----------------------------------------------------- Footer */
.footerContainer {
    background-color: #8D8741;
}