/* ----------------------------------------------------- Font Import */
@import url('https://fonts.googleapis.com/css2?family=Metamorphous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* ----------------------------------------------------- General Styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

main {
    background-color: #E6D2B0;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
}


/* ----------------------------------------------------- Colour Palette */
.bgColour {
    color: #E6D2B0;
}

.primaryAccent {
    color: #8D8741;
}

.secondaryAccent {
    color: #D9BF77;
}

.textMain {
    color: #3B3B3BFC;
}

.textSecondary {
    color: #404040;
}

.highlightError {
    color: #FF5E57;
}

.highlightSuccess {
    color: #81B29A;
}

.borderColour {
    color: #708090;
}


/* ----------------------------------------------------- NavBar */
.navbar {
    background-color: #DAA520;
    font-family: "Metamorphous", serif;
}

.navbar-toggler {
    border-color: #EAEAEA;
}

.navbar-brand {
    font-weight: 800;
}

.navitem {
    font-weight: 600;
}


/* ----------------------------------------------------- Task List Cards */
.card-body {
    color: #333333;
    background-color: #CAD3D8;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 500px;
}

.cardTextContainer {
    overflow-y: auto;
}


/* ----------------------------------------------------- Footer */
.footerContainer {
    background-color: #DAA520;
    margin-top: auto;
}


/* ----------------------------------------------------- Login/Logout/Signup Styles */
label {
    color: #EAEAEA;
}

.loginButton {
    border-radius: 2px;
    border-width: 2px;
    border-color: #81B29A;;
}

.logoutButton {
    border-radius: 2px;
    border-width: 2px;
    border-color: #FF5E57;
}

.loginButton:hover, .logoutButton:hover {
    color: #81B29A;
    border-color: #8D8741;
}

.authContainer {
    align-content: center;
}


/* ----------------------------------------------------- Edit List Form */
.editListForm {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


/* ----------------------------------------------------- Form Styles */
.myForm >{
    color: #333333;
}


/* ----------------------------------------------------- Modal */
.modal-content {
    background-color: #2B2D42;
}


/* ----------------------------------------------------- Profile */
.profileLists {
    list-style: none;
}

.skillIcon {
    height: 25px;
    width: 25px;
    margin-right: 5px;
}